<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556092733214-ukgdi76upto5d0ofjd26934sc6i50pk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556092733214-ukgdi76upto5d0ofjd26934sc6i50pk4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556092733214-rl126jao97n6rj07vqs0br270l322nen.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMAwzVtXe3BUvoX1wzh0JFqc8n0TO57g</string>
	<key>GCM_SENDER_ID</key>
	<string>556092733214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brodameko.app</string>
	<key>PROJECT_ID</key>
	<string>brodameko-4457c</string>
	<key>STORAGE_BUCKET</key>
	<string>brodameko-4457c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556092733214:ios:31fe8ed16ee929bb8a3b0f</string>
</dict>
</plist>